
.home-page {
  padding: 20px;
}

.home-page .intro h1,
.home-page .intro h2 {
  text-align: center;
}


.home-page .image-carousel {
  margin-top: 30px;
  text-align: center;
}

.home-page .carousel-image {
  width: 100%; 
  max-width: 600px; 
  height: auto;
  border-radius: 8px;
  margin: 0 auto;
}

.home-page .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 20px; 
  margin-top: 40px;
}

.home-page .section-box {
  background-color: #a4e6ec;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  transition: all 0.3s ease; 
}

.home-page .section-box h2 {
  font-size: 1.5rem;
  color: #333333;
}

.home-page .section-box p {
  font-size: 1rem;
  color: #555;
}

.home-page .section-box:hover {
  transform: translateY(-10px); 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
}

@media (max-width: 768px) {
  .home-page .grid-container {
    grid-template-columns: 1fr 1fr; 
  }
}

@media (max-width: 480px) {
  .home-page .grid-container {
    grid-template-columns: 1fr; 
  }
}
