
.view-events {
    padding: 20px;
    background-color: #000000;
  }
  
  .event-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .event-card {
    background: black;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .event-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 8px;
  }
  