body {
  background-color: #121212;
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 1200px;
  animation: fadeIn 1s ease-in-out;
}

h1, h2 {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  color: #00aced;
  margin-bottom: 20px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

button {
  background-color: #00aced;
  color: #ffffff;
  padding: 12px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  margin: 10px;
}

button:hover {
  background-color: #008bb3;
  transform: translateY(-5px);
}

button:active {
  transform: translateY(0);
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #333;
  background-color: #333;
  color: #ffffff;
  margin-top: 5px;
  width: 100%;
  max-width: 300px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #1c1c1c;
  color: white;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.navbar .logo {
  font-size: 2rem;
  font-weight: bold;
}

.navbar .nav-links {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.navbar .nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navbar .nav-links a:hover {
  background-color: #00aced;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
